/* Header */
header {
    /* background-color: rgba(35, 31, 32, 0.75); */
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

header h1 {
    color: var(--blue);
    font-size: 2rem;
    text-shadow: 1px 1px var(--black);
}

ul {
    list-style-type: none;
}

#signup {
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--blue);
    border: 0 solid;
    border-radius: 8px;
    text-shadow: 1px 1px var(--black);
}

#username-nav {
    color: var(--blue);
    font-size: var(--slogan);
    text-shadow: 1px 1px var(--black);
    text-decoration: none;
    border: 0 solid;
    border-radius: 8px;
    padding: 10px 20px;
    max-width: 300px;
    overflow: hidden;
}
