@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?vuok1e");
    src: url("../fonts/icomoon.eot?vuok1e#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vuok1e") format("truetype"),
        url("../fonts/icomoon.woff?vuok1e") format("woff"), url("../fonts/icomoon.svg?vuok1e#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e902";
    padding-right: 10px;
}
.icon-home:before {
    content: "\e900";
    padding-right: 10px;
}
.icon-map:before {
    content: "\e94b";
    padding-right: 10px;
}
.icon-user:before {
    content: "\e971";
    padding-right: 10px;
}
.icon-bin2:before {
    content: "\e9ad";
    padding-right: 10px;
}
.icon-star-full:before {
    content: "\e9d9";
    padding-right: 10px;
}
.icon-exit:before {
    content: "\ea14";
    padding-right: 10px;
}
.icon-directions_bike:before {
    content: "\e901";
    padding-right: 10px;
}
